// 실제 디자인에 없는 임의 디자인
// 스타일 가이드 페이지
.guide {
  background-color: $white;
  border-top: 1px solid $grey06;

  ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  li:nth-child(4n) {
    border-right: 0;
  }

  a {
    border-bottom: 1px solid $grey06;
    border-right: 1px solid $grey06;
    color: $black;
    display: block;
    font-size: rem(15);
    line-height: rem(30);
    text-align: center;
  }
}
