.btn {
  align-items: center;
  display: inline-flex;
  justify-content: center;

  &-prev {
    @include bg('btn_prev.svg', center, null, null, rem(24), auto);
    height: rem(40);
    width: rem(40);
  }

  &-menu {
    @include bg('btn_menu.svg', center, null, null, rem(24), auto);
    height: rem(40);
    width: rem(40);
  }

  &-cart {
    @include bg('btn_cart.svg', center, null, null, rem(24), auto);
    height: rem(40);
    position: relative;
    width: rem(40);

    span {
      @include position(right, rem(1), top, rem(4));
      background-color: $red;
      border-radius: rem(16);
      color: $white;
      font-size: rem(11);
      font-weight: 500;
      height: rem(16);
      line-height: rem(16);
      padding: 0 rem(6);
    }

    .shop-list & {
      height: rem(20);
      width: rem(20);
    }
  }

  &-like {
    @include bg('ico_like.svg', center);
    height: rem(20);
    width: rem(20);
  }
}
