@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

html,
body {
  font-family: "Noto Sans KR", sans-serif;
}

html {font-size: 62.5%;}
body {font-size: 1rem;}

.h1 {
  color: $black06;
  font-size: rem(18);
  font-weight: 500;
  line-height: rem(29);
}

.h2 {
  color: $grey1e;
  font-size: rem(18);
  font-weight: 700;
  line-height: rem(29);

  &-2 {
    color: $grey1e;
    font-size: rem(18);
    font-weight: 400;
    line-height: rem(29);
  }

  &-3 {
    color: $grey1e;
    font-size: rem(22);
    font-weight: 700;
    line-height: rem(30);
  }
}

.h3 {
  color: $grey1e;
  font-size: rem(15);
  font-weight: 700;
  line-height: rem(23);
}
