@mixin position($x, $xvalue, $y:null, $yvalue:null) {
  position: absolute;
  #{$x}: $xvalue;
  #{$y}: $yvalue;

  @if $xvalue == 50% and $yvalue == 50% {
    transform: translate(-50%, -50%);
  }@else if $xvalue == 50% {
    transform: translateX(-50%);
  }@else if $yvalue == 50% {
    transform: translateY(-50%);
  }
}

// 배경 이미지
@mixin bg($imgfile, $x:null, $y:null, $bgcolor:null, $width:null, $height:null) {
  background: url(#{$imgurl}#{$imgfile}) no-repeat $x $y $bgcolor;
  background-size: $width $height;
}

// Badge
//순서:클래스명,모서리둥근,높이,폰트크기,폰폰색상,선색상,배경색
@each $class,$br,$pad,$hig,$fs,$color,$bordercolor,$bg in $badgesetting {
  .#{$class} {
    background-color: $bg;
    border: 1px solid $bordercolor;
    border-radius: rem($br);
    color: $color;
    font-size: rem($fs);
    height: rem($hig);
    padding: 0 rem($pad);
  }
}

// Button
//순서:클래스명,모서리둥근,높이,폰트크기,폰폰색상,선색상,배경색
@each $class,$br,$pad,$hig,$fs,$color,$bordercolor,$bg in $buttonsetting {
  .btn.#{$class} {
    background-color: $bg;
    border: 1px solid $bordercolor;
    border-radius: rem($br);
    color: $color;
    font-size: rem($fs);
    height: rem($hig);
    padding: 0 rem($pad);
  }
}

// IR
@mixin hide {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}
// 재정의
.hide { @include hide;}
