@mixin position($x, $xvalue, $y:null, $yvalue:null) {
  position: absolute;
  #{$x}: $xvalue;
  #{$y}: $yvalue;

  @if $xvalue == 50% and $yvalue == 50% {
    transform: translate(-50%, -50%);
  }@else if $xvalue == 50% {
    transform: translateX(-50%);
  }@else if $yvalue == 50% {
    transform: translateY(-50%);
  }
}

// 배경 이미지
@mixin bg($imgfile, $x:null, $y:null, $bgcolor:null, $width:null, $height:null) {
  background: url(#{$imgurl}#{$imgfile}) no-repeat $x $y $bgcolor;
  background-size: $width $height;
}
