// 색상
$black06:#060606;
$black:#000;
$white:#fff;
$red: #ff3d45;
$purple: #bb6bd9;
$grey06: #060606;
$grey1e: #1e2530;
$grey55: #555d67;
$grey83: #838a93;
$greye5: #e5e8f0;

// 이미지 경로
$imgurl:'../images/';

